.homeSection{
    padding-left: 80px;
    padding-right: 80px;
    max-width: 1200px;
    margin: auto;
}

.gridTrack{
    margin: auto;
    height: 118px;
    max-width: 614px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow-x: hidden;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 4px;
}

.sliderLeft{
    position: absolute;
    transform: rotateZ(-180deg);
    left: 10px;
    top: 45px;
    cursor: pointer;
}

.sliderRight{
    position: absolute;
    right:10px;
    top: 45px;
    cursor: pointer;
}


.storiesGrid {
    width: auto;
    height: 100%;
    display: flex;
    flex-flow: row;
    position: relative;
    transition: .5s;
}


.story{
    height: 100%;
    width: 87px;
    min-width: 87px;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.storyImage{
    width: 66px;
    height: 66px;
    border: 3px solid rgb(215, 215, 215);
    border-radius: 50%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.highlitedStory{
    border: 3px solid transparent;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(225,165,65,0.7749474789915967) 0%, rgba(225,65,213,0.7749474789915967) 100%) border-box;
}

.storyUser{
    padding-top: 5px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.postsGrid{
    max-width: 614px;
    margin: auto;
    height: auto;
}


.post{
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    max-width: 614px;
    height: auto;
}

.postHeader{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(215, 215, 215);
    border-left: 1px solid rgb(215, 215, 215);
    border-right: 1px solid rgb(215, 215, 215);

}

.postHeaderInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.postHeaderInfo > h5{
    padding: 15px;
}

.postHeaderOptions{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 10px;
    font-weight: bold;
    cursor:pointer
}

.postHeaderImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: fill;
    object-position: center;

}

.postImageContainer{
    border: none;
}

.postImage{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}


.postFeedback{
    height: 54px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.postFeedbackActions{
    height: 100%;
    padding: 0 15px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postFeedbackActions > svg {
    width: 24px;
    height: 24px;
}

.postSave{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postSave > svg{
    height: 24px;
    width: 24px;
}